@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* HEADER */
.header-container {  
  background-color: #2C3E50;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;  
}

.header-container header {
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  margin: auto;
}

.header-container header .logo a {
  color: #D4AF37;
  text-decoration: none;
  font-family: 'Righteous', cursive;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.header-container header ul {
  display: flex;
  list-style: none;
}

.header-container header ul li a {
  color: #fff;
  text-decoration: none;
  display: block;
  margin: 0 10px;
  transition: .5s;
  padding: .5rem;
}

.header-container header ul li a:hover {
  background-color: #D4AF37;
  color: #2C3E50;
  border-radius: 5px;
}

.nav-responsive {
  background-color: #D4AF37;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  display: none;
}

/* HOME SECTION */
.home {  
  background: linear-gradient(rgba(52,73,94,.5), rgba(52,73,94,.2)), url('assets/background.jpg');
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;  
}

.home .home-banner {
  max-width: 1000px;
  padding: 20px;
  margin: auto;
  background-color: #2C3E50;
  text-align: center;
  border-radius: 20px;
}

.home .home-banner .profesional-perfil {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home .home-banner .profesional-perfil .perfil-text {
  width: 75%;
  margin: 0 2rem;
}

.home .home-banner h1 {
  color: #D4AF37;
  font-size: 2.2rem;
  margin-bottom: 10px;
  font-family: 'Righteous', cursive;
}

.home .home-banner h2 {  
  color: #fff;
  font-size: 1.8rem;
  font-family:  'Work Sans';  
  margin: 1rem 0;
}

.home .home-banner .social-networks {
  display: flex;
  justify-content: center;  
  align-items: center;
  gap: 1.5rem;
  margin-top: 20px;
}

.home .home-banner .social-networks a {
  color: #fff;
  font-size: 1.8rem;
  text-decoration: none;
  transition: .5s;
}

.home .home-banner .social-networks a:hover {
  color: #D4AF37;
}

.home .home-banner .image-container {
  width: 25%;  
  margin: 0 5rem;    
}

.home .home-banner img {
  width: 18rem;
  height: 18rem;  
  object-fit: cover;
  border: 10px solid #D4AF37;
  border-radius: 100%;
}

/* ABOUT ME SECTION */
.about-me {
  background-color: #2C3E50;
  padding: 50px 0;
  height: 85vh;  
}

.about-me .about-me-container {
  max-width: 1100px;
  margin: auto;
  align-content: center;
}

.about-me .description h2 {
  text-align: center;  
  font-family: 'Righteous', cursive;
  color: #D4AF37;
  font-size:  1.8rem;    
}

.about-me .description p {
  color: #fff;
  font-size: 1.2rem;
  text-align: center;
  margin: 1rem 0;
  font-family: 'Work Sans', sans-serif;
}

.about-me .description p span {
  color: #D4AF37;
  font-weight: bold;
}

.about-me .about-me-container .row {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-top: 2rem;
}

.about-me-container .column h3 {
  font-size: 1.5rem;
  color: #D4AF37;
  text-align: center;
}

.column ul {
  width: 30rem;
  height: 14rem;
  border-radius: 10px;
  background-color: #1F2A3A;
  align-content: start;
  margin-top: 1.8rem;
  padding: 8px 0 0 20px;
}

.about-me-container .column ul li {
  list-style: none;
  color: #fff;
  font-size: 1rem;
  margin: .8rem 0;  
}

.about-me-container .column ul li span:not(.job-position) {
  font-weight: bold;
}

.about-me-container .column ul li .job-position {
  padding: .4rem;
  background-color: #D4AF37;
  border-radius: 5px;
  margin-left: .3rem;
}

.about-me-container .column .interests-container {
  margin-top: 1.5rem;
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 1rem;
}

.interests-container .interest {  
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .3rem;
  width: 7rem;
  height: 7rem;
  font-size: .9rem;
  text-align: center;
  background-color: #1F2A3A;
  border-radius: 50%;
  color: #fff;
}

.about-me-container button {
  background-color: #2C3E50;
  border: 1px solid #D4AF37;
  border-radius: 5px;
  width: 10rem;
  height: 2rem;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  position: relative;  
  overflow: hidden;
  margin: 2rem auto;
  display: block;
  z-index: 1;  
}

.about-me-container button span {
  position: absolute;
  width: 10rem;
  height: 2rem;
  background-color: #D4AF37;  
  top: 0;
  left: -101%;
  transition: transform .5s;
}

.about-me-container button:hover span {
  transform: translateX(99%);  
  z-index: -1;
}

/* SKILLS SECTION */
.skills {
  background-color: #1F2A3A;
  padding: 50px 0;
  height: 85vh;  
}

.skills .skills-container {
  max-width: 1100px;
  margin: auto;
  align-content: center;
}

.skills .skills-container h2 {
  text-align: center;  
  font-family: 'Righteous', cursive;
  color: #D4AF37;
  font-size:  1.8rem;    
}

.skills .skills-container .row {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-top: 2rem;
}

.skills-container .column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.skills-container .column h3 {
  font-size: 1.5rem;
  color: #D4AF37;
  align-content: center;
}

.skills-container .column .list-skills {  
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(2rem, auto));
  gap: 1.5rem;
  width: 100%;
  padding: 1.5rem;
}

.skills-container .column .skill {
  width: 15rem;
  height: 2.5rem;
  text-align: center;
  line-height: 2.5rem;
  color: #1f2a3a;  
  position: relative;
  font-family: 'Work Sans', sans-serif;  
}

.skills-container .column .tech {
  background-color: #B39EB5;
  &::before {
    content: '';
    position: absolute;
    left: 0;
    height: 100%;
    width: 1rem;
    background-color: #8B6F91;
  };
  &::after {
    content: '';
    position: absolute;
    right: 0;
    height: 1.5rem;
    width: 2rem;
    background: linear-gradient(to bottom left, #1f2a3a 50%, #8B6F91 50%);
  };
}

.skills-container .column .soft {
  background-color: #CFCFC4;
  &::before {
    content: '';
    position: absolute;
    right: 0;
    height: 100%;
    width: 1rem;
    background-color: #A9A9A4;
  };
  &::after {
    content: '';
    position: absolute;
    left: 0;
    height: 1.5rem;
    width: 2rem;
    background: linear-gradient(to bottom right, #1f2a3a 50%, #A9A9A4 50%);
  };
}